@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", serif;
  list-style: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.logo {
  width: 5%;
}
.nav_logo {
  width: 40%;
}
.nav_list {
  display: flex;
  justify-content: space-between;
  word-spacing: 5px;
}
.container nav .nav_logo .nav_list {
  font-size: 14px;
  align-items: center;
  color: rgb(165, 163, 167);
}
.container nav .nav_logo .nav_list li:hover {
  color: rgb(43, 41, 47);
}
.container nav .nav_logo .nav_list button {
  font-size: 14px;
  padding: 10px 20px;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.container nav .nav_logo .nav_list button:hover {
  color: white;
  background-color: rgb(43, 41, 47);
}
.img_sec .image img {
  width: 100%;
}
.img_sec .img_word {
  background-color: rgb(45, 39, 64);
  color: white;
  text-align: center;
  padding: 70px;
  margin-top: -6px;
}
.img_sec .img_word {
  position: relative;
}
.img_sec .img_word .img_pattern {
  position: absolute;
  left: 0px;
  top: 0;
}
.img_sec .img_word .img_pattern_down {
  position: absolute;
  right: 1px;
}
.img_sec .img_word h1 {
  margin: 20px;
}
.img_sec .img_word button {
  margin: 20px;
  padding: 10px 25px;
  background-color: rgb(45, 39, 64);
  color: white;
  border: 1px solid white;
}
.process_snappy .line {
  margin: 120px 300px 30px;
  border-top: 2px solid rgb(199, 185, 200);
}
.process h1 {
  font-size: 50px;
  margin-bottom: 80px;
}
.process_snappy .flex_process .snappy img,
.process_snappy .flex_process .prices img,
.process_snappy .flex_process .first img {
  margin-bottom: 25px;
}
.process_snappy .flex_process .snappy h2,
.process_snappy .flex_process .prices h2,
.process_snappy .flex_process .first h2 {
  margin-bottom: 15px;
}
.process_snappy .flex_process .snappy p,
.process_snappy .flex_process .prices p,
.process_snappy .flex_process .first p {
  margin-bottom: 25px;
  color: rgb(175, 175, 179);
  font-size: 12px;
}

.process {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.find {
  background-color: rgb(45, 39, 64);
  color: white;
  padding: 60px;
  margin-top: 100px;
  position: relative;
  margin-bottom: 100px;
}
.find img {
  position: absolute;
  right: 0px;
  top: 0;
}
.find button {
  margin: 20px;
  padding: 10px 25px;
  background-color: rgb(45, 39, 64);
  color: white;
  border: 1px solid white;
}
footer {
  background-color: #f4f5f7;
  padding: 70px 0 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer ul,
footer div {
  max-width: 100%;
  width: 200px;
}
footer h5 {
  margin-bottom: 20px;
  font-weight: 600;
}

footer li {
  margin: 5px 0;
}

footer ul a {
  margin-top: 20px;
  display: inline-block;
}
hr {
  margin-top: 60px;
  color: rgb(223, 225, 229);
}
ul li img {
  width: 20px;
}
.copyright {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.copyright .social {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -20px;
}
.copyright .social li {
  margin: 10px;
}

@media (max-width: 911px) {
  nav {
    position: relative;
  }
  .overflow {
    overflow: hidden;
  }
  .nav_list {
    display: block;
    position: absolute;
    background-color: white;
    right: -20px;
    top: 78px;
    width: 300px;
    transform: translateX(320px);
    transition: 0.6s;
  }
  .active {
    transform: translateX(0);
  }
  .nav_list li,
  .nav_list button {
    margin: 20px;
  }
  .container_mobile {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  .sec_section {
    display: none;
  }
  .process_anony {
    display: none;
  }
  .process_snappy {
    text-align: center;
  }
}

@media (max-width: 840px) {
  .footer ul,
  footer div {
    margin: 30px 0;
  }
}

@media (min-width: 912px) {
  header {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .img_sec {
    display: none;
  }
  .sec_section {
    background-color: rgb(45, 39, 64);
    color: white;
    position: relative;
    margin-bottom: 200px;
  }
  .line_section {
    border-bottom: 2px solid white;
    margin-right: 331px;
    margin-bottom: 30px;
  }
  .flex_sec_section {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .sec_section .flex_sec_section .first_flex h1 {
    font-size: 58px;
    margin-bottom: 20px;
  }
  .sec_section .flex_sec_section .first_flex p {
    margin-bottom: 30px;
  }
  .sec_section .flex_sec_section .first_flex button {
    padding: 10px 25px;
    background-color: rgb(45, 39, 64);
    color: white;
    border: 1px solid white;
    margin-bottom: 30px;
  }
  .sec_section .flex_sec_section .first_flex button:hover {
    color: rgb(45, 39, 64);
    background-color: white;
  }
  .first_flex {
    width: 40%;
  }
  .sec_flex {
    width: 40%;
    position: relative;
  }
  .sec_flex img {
    width: 100%;
    position: absolute;
  }
  .sec_section .flex_sec_section .first_flex .line_img {
    position: absolute;
    left: 0px;
    top: 363px;
    width: 10%;
  }
  .sec_section .pattern_right {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
  }
  .process_snappy {
    margin-bottom: 70px;
  }
  .process_snappy .line {
    margin: 24px 1000px 27px 1px;
  }
  .process_snappy h1 {
    font-size: 45px;
    margin-bottom: 50px;
  }
  .flex_process {
    display: flex;
    justify-content: space-between;
  }
  .process_snappy .flex_process .snappy,
  .process_snappy .flex_process .prices,
  .process_snappy .flex_process .first {
    width: 25%;
  }
  .process {
    display: none;
  }
  .process_anony {
    background-color: rgb(45, 39, 64);
    color: white;
    position: relative;
    margin-bottom: 100px;
    padding: 19px;
  }
  .process_anony .find_anony {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  .process_anony .find_anony h1 {
    width: 36%;
    font-size: 41px;
  }
  .process_anony .find_anony button {
    width: 170px;
    height: 52px;
    position: absolute;
    right: 139px;
    top: 80px;
    border: 1px solid white;
    background-color: rgb(45, 39, 64);
    color: white;
  }
  .process_anony .find_anony img {
    position: absolute;
    right: 0px;
    top: 0;
  }
  .copyright .function {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
  .copyright .social {
    top: 0;
  }
}
